{% extends 'base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
(function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>
{% endblock %}
{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">All Placed Orders</h1>
 </div>
<br />
<input type="search" class="light-table-filter form-control" data-table="order-table" placeholder="Filter">
<br />
<table class="table table-striped order-table">
  <thead>
    <tr>
      <th scope="col" >Order ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Order Price</th>
      <th scope="col">Order Status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
    <tr>
      <td>{{order.id}}</th>
      <td>{{order.customerName}}</td>
      <td>{{order.quantity}}</td>
      <td>&euro;{{order.totalPrice}}</td>
      <td>{% if order.orderStatus == 1 %}
        In progress
      {% elseif order.orderStatus == 2 %}
       Sent
       {% elseif order.orderStatus == 3 %}
       Delivered
    {% elseif order.orderStatus == 4 %}
      Cancelled
       {% endif %}
      
      </td>
      <td><a href="/order/edit/{{order.id}}"><button type="button" class="btn btn-success">Edit</button></a> <a href="/order/view/{{order.id}}"> <button type="button" class="btn btn-info">View</button></a><a href="/order/delete/{{order.id}}"> <button type="button" class="btn btn-danger">Delete</button></a>
</td>
    </tr>
{% endfor %}

  </tbody>
</table>   
<div class="navigation">
    {{ knp_pagination_render(orders) }}
</div>
<br />

{% endblock %}