{% extends 'base.html.twig' %}

{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">All Placed Orders</h1>
 </div>
<br />
<table id="items" class="table table-striped">
  <thead>
    <tr>
      <th scope="col" >ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Order Price</th>
      <th scope="col">Order Status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
    <tr>
      <th scope="row">{{order.id}}</th>
      <td>{{order.customerName}}</td>
      <td>{{order.quantity}}</td>
      <td>&euro;{{order.totalPrice}}</td>
      <td>{% if order.orderStatus == 1 %}
        In progress
      {% elseif order.orderStatus == 2 %}
       Sent
       {% elseif order.orderStatus == 3 %}
       Delivered
    {% elseif order.orderStatus == 4 %}
      Cancelled
       {% endif %}
      
      </td>
      <td><a href="/order/edit/{{order.id}}"><button type="button" class="btn btn-success">Edit</button></a> <a href="/order/view/{{order.id}}"> <button type="button" class="btn btn-info">View</button></a><a href="/order/delete/{{order.id}}"> <button type="button" class="btn btn-danger">Delete</button></a>
</td>
    </tr>
{% endfor %}

  </tbody>
</table>   
<div class="navigation">
    {{ knp_pagination_render(orders) }}
</div>
<br />

{% endblock %}