{% extends 'base.html.twig' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Items Available for Sale</h1>
    </div>
<p><a href="/item/create"><button type="button" class="btn btn-primary">Add new Item</button></a></p> <br />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Price</th>
      <th scope="col">In Stock</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>&euro;{{item.price}}</td>
      <td>{% if item.available == 1 %}
        Yes
      {% elseif item.available == 0 %}
       No
       {% endif %}
      
      </td>
      <td><a href="/item/edit/{{item.id}}"><button type="button" class="btn btn-success">Edit</button></a> <a href="/item/view/{{item.id}}"> <button type="button" class="btn btn-info">View</button></a><a href="/item/delete/{{item.id}}"> <button type="button" class="btn btn-danger">Delete</button></a>
</td>
    </tr>
{% endfor %}

  </tbody>
</table>   
<div class="navigation">
    {{ knp_pagination_render(items) }}
</div>

{% endblock %}